<div class="row">
    <form (submit)="login()" class="col s4 offset-s4">
        <div class="row">
            <div class="input-field col s12">
                <input name="email" type="email" [(ngModel)]="user.email" class="validate" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="username" type="text" [(ngModel)]="user.username" placeholder="User Name">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input name="name" type="text" [(ngModel)]="user.name" placeholder="Complete Name">
            </div>
        </div>
        <p *ngIf="error != ''" class="red-text text-accent-4">{{error}}</p>
        <button *ngIf="inProgress == false; else inProgressBlock" type="submit" class="waves-effect waves-light btn blue darken-3">Register</button>
        <ng-template #inProgressBlock>
            <div class="preloader-wrapper big active ">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
    </ng-template>
    </form>
</div>
